@import url('https://rsms.me/inter/inter.css');

:root {
    --bg-1: #F6F6F5;
    --bg-2: #FAFAFA;
    --bg-3: #FFFFFF;
    --bg-4: #000000;
    --bg-5: #EFF6FD;

    --color-1: #000000;
    --color-2: #585858;
    --color-3: #FFFFFF;

    --primary: #0070F3;
    --primary-text: #0069e0;

    --border: 2px solid #E9E9E9;
    --border-dark: 2px solid transparent;

    --shadow: 0 20px 60px 0 rgba(0,0,0,0.30);
    --shadow-m: 0 10px 32px 0 rgba(0,0,0,0.1);

    --arrow: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

.github-outer {
    fill: #1B1F23;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #111111;
        --bg-2: #111111;
        --bg-3: #000000;
        --bg-4: #F3F3F3;
        --bg-5: #242424;

        --color-1: #FFFFFF;
        --color-2: #C4C4C4;
        --color-3: #000000;

        --primary: #0069e0;
        --primary-text: #0069e0;

        --border: 2px solid #333333;
        --border-dark: 2px solid #595959;

        --shadow: 0 20px 60px 0 rgba(0,0,0,0.90);

        --arrow: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');

    }
    .github-outer {
        fill: #FFFFFF;
    }
}

[data-theme="dark"] {
    --bg-1: #111111;
    --bg-2: #111111;
    --bg-3: #000000;
    --bg-4: #F3F3F3;
    --bg-5: #242424;

    --color-1: #FFFFFF;
    --color-2: #C4C4C4;
    --color-3: #000000;

    --primary: #0069e0;
    --primary-text: #8B8B8B;

    --border: 2px solid #333333;
    --border-dark: 2px solid #595959;

    --shadow: 0 20px 60px 0 rgba(0,0,0,0.90);

    --arrow: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

[data-theme="dark"] .github-outer {
    fill: #FFFFFF;
}

[data-theme="light"] {
    --bg-1: #F6F6F5;
    --bg-2: #FAFAFA;
    --bg-3: #FFFFFF;
    --bg-4: #000000;
    --bg-5: #EFF6FD;

    --color-1: #000000;
    --color-2: #585858;
    --color-3: #FFFFFF;

    --primary: #0070F3;
    --primary-text: #0069e0;

    --border: 2px solid #E9E9E9;
    --border-dark: 2px solid transparent;

    --shadow: 0 20px 60px 0 rgba(0,0,0,0.30);

    --arrow: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

[data-theme="light"] .github-outer {
    fill: #1B1F23;
}

html { font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }
}
body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    transition: color 600ms ease;
}
div, a {
    transition: background 600ms ease, border 600ms ease;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
.fadein {
    animation-name: fadein;
    animation-fill-mode: both;
    animation-duration: 600ms;
}